<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fetchit_challenge)/worlds/fetchit_challenge_tests.world"/>
    <arg name="paused" value="false"/>
    <arg name="verbose" value="true"/>
  </include>
</launch>
